/* 
011627
ff3366
2ec4b6
f6f7f8
20a4f3 */


.app {
  text-align: center;
  background-color: #011627;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.scoreContainer h3 {
  font-size: 1.4rem;
}

.halfContainer h3 {
  font-size: 1.8rem;
  margin-top: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolContainer {
  width: 80%;
  margin: 2px 4px;
  background-color: #f6f7f8;
  padding: 30px 80px;
  border: 5px solid #ff3366;
  border-radius: 10px;
}

.buttonFlex {
  display: flex;
  flex-wrap: wrap;
}

button {
  border: none;
  margin: 3px;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #f6f7f8;
  background-color: #20a4f3;
}

.buttonFlex button {
  flex: 1 1 calc(50% - 12px);
}

button:disabled {
  background-color: grey;
}

.halfContainer {
  width: 40%;
  margin: 2px;
}

.sessionName {
  font-size: 1.6rem;
  margin: 0 20px 20px;
  text-align: center; 
  border: none;
}

.icon {
  cursor: pointer;
}

.editIcon {
  margin-left: 20px;
  font-size: 1.2rem;
  color: lightgray;
}

.checkIcon {
  color: green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.cell {
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px solid #011627;
  background-color: #f6f7f8;
}

.scoreContainer {
  background-color: #2ec4b6;
  border: 4px solid #011627;
  border-radius: 10px;
}

.sumRow .cell {
  border-top: 5px solid #5d737e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.timeDisplay {
  letter-spacing: 5px;
  font-size: 1.8rem;
  font-weight: bold;
}

.relative {
  position: relative;
}

.addUserObjectIcon,
.addScoreTypeIcon,
.delete {
  position: absolute;
}

.addUserObjectIcon,
.addScoreTypeIcon {
  width: 30px;
  background: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.addUserObjectIcon {
  top: 10px;
  right: -35px;
}

.addScoreTypeIcon {
  bottom: 5px;
  left: -50px;
}

.delete {
  background: none;
  border: none;
  top: 5px;
  z-index: 10;
  cursor: pointer;
}

.deleteScoreType {
  left: 1%;
}

.deleteUserObject {
  right: 1%;
}