.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.cell {
  position: relative;
  width: 200px;
  min-width: 200px;
  height: 90px;
  border: 1px solid grey;
  text-align: center;
}

.defaultOnLoad {
  text-transform: capitalize;
}

.defaultCell,
.sumRow .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sumRow .cell {
  border-top: 5px solid black;
}

.userComponent,
.relative {
  position: relative;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}
