/* 
#5d737e - Payne's Grey
#64b6ac - Green Sheen
#c0fdfb - Italian Sky Blue
#daffef - Light Cyan
#f1fff9 - Mint Cream
#fcfffd - White
*/



.app {
  text-align: center;
  background-color: #c0fdfb;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #daffef;
  padding: 30px 80px;
  border: 2px solid #5d737e;
  border-radius: 10px;
}

.halfContainer {
  width: 40%;
  margin: 0;
}

.sessionName {
  font-size: 1.6rem;
  margin: 0 20px 20px;
  text-align: center; 
  border: none;
}

.icon {
  cursor: pointer;
}

.editIcon {
  margin-left: 20px;
  font-size: 1.2rem;
  color: lightgray;
}

.checkIcon {
  color: green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.cell {
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px dotted #5d737e;
  background-color: #f1fff9;
}

.scoreContainer {
  border: 2px solid #5d737e;
  border-radius: 10px;
}

.sumRow .cell {
  border-top: 5px solid #5d737e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.relative {
  position: relative;
}

.addUserObjectIcon,
.addScoreTypeIcon,
.delete {
  position: absolute;
}

.addUserObjectIcon,
.addScoreTypeIcon {
  width: 30px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.addUserObjectIcon {
  top: 20px;
  right: -35px;
}

.addScoreTypeIcon {
  bottom: 15px;
  left: -35px;
}

.delete {
  background: none;
  border: none;
  top: 5px;
  z-index: 10;
  cursor: pointer;
}

.deleteScoreType {
  left: 1%;
}

.deleteUserObject {
  right: 1%;
}