html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* 
Color Palette
011627
ff3366
2ec4b6
f6f7f8
20a4f3 
*/

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');


/* Global */
.app {
  text-align: center;
  background-color: #222222;
  min-height: 100vh;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  cursor: pointer;
}

/* Headers */
h1,
footer {
  color: whitesmoke;
  padding: 10px;
  margin: 0;
}

.scoreContainer h3 {
  font-size: 1.4rem;
}

.halfContainer h3 {
  font-size: 1.8rem;
  margin-top: 0;
}

/* Session Name */
.sessionName {
  font-size: 1.4rem;
  margin: 0 20px 20px;
  text-align: center; 
  border: none;
}

.sessionName::before {
  position: absolute;
  content: "session name: ";
  color: #5d737e;
  font-size: 0.8rem;
  /* top: 50%; */
  /* left: 20px; */
  left: 0;
  /* transform: translateX(-50%); */
}

td {
  min-width: 100px;
}

/* Tool Container */
.toolContainer {
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: auto; */
  min-height: 200px;
  margin: 2px 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px #ccc;
  padding: 10px;
  border-radius: 6px;
}

/* For Timers on Larger Screens */
.halfContainer {
  width: 300px;
  height: fit-content;
  margin: 2px;
}

.mini {
  font-size: 0.9rem;
  line-height: initial;
}


/* Add User Object Button Icon
Add Score Type Button Icon */

/* Delete Butotns */
.delete {
  position: absolute;
  color: #011627;
  background: none;
  border: none;
  top: -10px;
  z-index: 10;
  cursor: pointer;
  width: initial;
  padding: 0 5px;
}

.deleteScoreType {
  left: -5px;
}

.deleteUserObject {
  right: -5px;
}

/* Scoreboard Container / Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.cell {
  /* min-width: fit-content; */
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px solid #011627;
  background-color: #f6f7f8;
  /* font-size: 1.3rem; */
  /* border-radius: 0; */
}

.userName,
.scoreType,
.emptyCell,
.sumRow .cell {
  /* font-weight: bold; */
  /* font-size: 1.2rem; */
  background-color: #e0e1e2;
}

.sumRow .cell {
  /* border-top: 5px solid #5d737e; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem; */
}

/* Timer/Countdown Tool Timer Display */
.timeDisplay {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin: 20px auto;
  padding: 5px 7px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: inherit;
  background-color: #011627;
  color: #f6f7f8;
}

/* Media Queries */
/* @media (max-width: 1300px){

} */

/* @media (max-width: 900px) {
  
} */

@media (max-width: 660px) {
  .toolContainer {
    margin: 2px 5px;
    width: 100%;
  }
  
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }

  .scoreType {
    display: block;
  }

  .scoreTypeContainer,
  .userComponent,
  .sumRow .cell {
    width: 50%;
    min-width: 50%;
  }
  
  .gridsContainer {
    overflow-x: scroll;

  }

  .addScoreTypeIcon {
    bottom: 5px;
    left: -45px;
  }

  .buttonFlex button {
    flex: 0 1 160px;
  }
}

@media (max-width: 530px) {
  .buttonFlex button {
    flex: 0 1 150px;
  }
}

@media (max-width: 460px) {
  h1 {
    font-size: 1.6rem;
  }
  
  /* .timeDisplay {
    width: 100px;
  } */

  h3 {
    margin-bottom: 0;
  }

  h3.sessionName {
    margin-left: 0;
    margin-right: 0;
  }

  .editIcon {
    right: 0;
  }
}

.ui.buttons {
  width: 100%;
}

.ui.buttons .button {
  flex: 1 1 auto;
}

/* 
* Dice.css v1.0
* Code - MIT License - https://github.com/diafygi/dice-css
* Images - Public Domain - https://openclipart.org/detail/105931/sixsided-dice-faces-lio-01
*/
/* .dice{display:inline-block;min-height:1em;padding-left:1em;background-size:1em;background-repeat:no-repeat;}
.dice-1{background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' version='1.1' viewBox='0 0 76.5 76.5' height='21.6' width='21.6'%3E%3Cg transform='translate(113.25%2C-494.1)'%3E%3Cg transform='matrix(0.5%2C0%2C0%2C0.5%2C-406.5%2C374.7)'%3E%3Crect x='588' y='240.4' width='150' height='150' ry='50' rx='50' style='fill%3A%23fff%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3Ccircle transform='translate(337.5%2C87.5)' cx='325' cy='227.4' r='12.5' style='fill%3A%23000%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E ");}
.dice-2{background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' version='1.1' viewBox='0 0 76.5 76.5' height='21.6' width='21.6'%3E%3Cstyle%3E.s0%7Bfill%3A%23000%3Bstroke-width%3A3%3Bstroke%3A%23000%3B%7D%3C%2Fstyle%3E%3Cg transform='translate(109.9%2C-505.1)'%3E%3Cg transform='matrix(0.5%2C0%2C0%2C0.5%2C-415.6%2C485.6)'%3E%3Crect x='613' y='40.4' width='150' height='150' ry='50' rx='50' style='fill%3A%23fff%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3Ccircle transform='translate(326.5%2C-148.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(398.5%2C-76.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E ");}
.dice-3{background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' version='1.1' viewBox='0 0 76.5 76.5' height='21.6' width='21.6'%3E%3Cstyle%3E.s0%7Bfill%3A%23000%3Bstroke-width%3A3%3Bstroke%3A%23000%3B%7D%3C%2Fstyle%3E%3Cg transform='translate(84.9%2C-515.5)'%3E%3Cg transform='matrix(0.5%2C0%2C0%2C0.5%2C-290.6%2C514.9)'%3E%3Crect x='413' y='2.9' width='150' height='150' ry='50' rx='50' style='fill%3A%23fff%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3Ccircle transform='translate(126.5%2C-186)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(198.5%2C-114)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(162.5%2C-150)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E ");}
.dice-4{background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' version='1.1' viewBox='0 0 76.5 76.5' height='21.6' width='21.6'%3E%3Cstyle%3E.s0%7Bfill%3A%23000%3Bstroke-width%3A3%3Bstroke%3A%23000%3B%7D%3C%2Fstyle%3E%3Cg transform='translate(90.7%2C-499.7)'%3E%3Cg transform='matrix(0.5%2C0%2C0%2C0.5%2C-302.7%2C367.8)'%3E%3Crect x='425.5' y='265.4' width='150' height='150' ry='50' rx='50' style='fill%3A%23fff%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3Ccircle transform='translate(139%2C76.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(139%2C148.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(211%2C76.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(211%2C148.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E ");}
.dice-5{background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' version='1.1' viewBox='0 0 76.5 76.5' height='21.6' width='21.6'%3E%3Cstyle%3E.s0%7Bfill%3A%23000%3Bstroke-width%3A3%3Bstroke%3A%23000%3B%7D%3C%2Fstyle%3E%3Cg transform='translate(89.2%2C-510.5)'%3E%3Cg transform='matrix(0.5%2C0%2C0%2C0.5%2C-194.9%2C372.3)'%3E%3Crect x='213' y='277.9' width='150' height='150' ry='50' rx='50' style='fill%3A%23fff%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3Ccircle transform='translate(-73.5%2C89)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-73.5%2C161)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-1.5%2C89)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-1.5%2C161)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-37.5%2C125)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E ");}
.dice-6{background-image: url("data:image/svg+xml,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' version='1.1' viewBox='0 0 76.5 76.5' height='21.6' width='21.6'%3E%3Cstyle%3E.s0%7Bfill%3A%23000%3Bstroke-width%3A3%3Bstroke%3A%23000%3B%7D%3C%2Fstyle%3E%3Cg transform='translate(86.2%2C-500.6)'%3E%3Cg transform='matrix(0.5%2C0%2C0%2C0.5%2C-98.2%2C356.2)'%3E%3Crect x='25.5' y='290.4' width='150' height='150' ry='50' rx='50' style='fill%3A%23fff%3Bstroke-width%3A3%3Bstroke%3A%23000'%2F%3E%3Ccircle transform='translate(-261%2C101.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-261%2C173.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-261%2C137.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-189%2C101.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-189%2C173.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3Ccircle transform='translate(-189%2C137.5)' cx='325' cy='227.4' r='12.5' class='s0'%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");} */


.dice {
  font-size: 3rem;
  display: block;
  margin: 0 5px 5px;
}

.diceButtons .button {
  padding: 8px 5px;
}

.diceButtons .dice {
  font-size: 2.5rem;
}

.diceContainer {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 9px;
}