html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');


/* Global */
/* * {
  font-size: 20px;
} */

body {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.app {
  position: relative;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin: 10px auto 0;
  background-color: #1b1c1d;
  box-shadow: 0 0 5px white;
}

footer a {
  color: white;
}

header {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px white;
  /* position: fixed; */
  z-index: 200
}

.pushable,
.pusher {
  min-height: 87.5vh;
}

.toolStatus {
  position: absolute;
  font-size: 0.7rem !important;
  top: -3px;
  left: 3px;
}

.componentAppender {
  padding: 20px;
}

.componentAppender button {
  margin: 3px !important;
}

.buttonContainer {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.flex {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-flow: dense;
  max-width: 100%;
  min-height: 80vh;
  padding: 10px 10px 150px;
  grid-gap: 6px;
}

table {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  display: block;
}

td {
  min-width: 80px;
  padding: 0 !important;
  width: auto;
  /* min-width: none; */
}

input[type="number"],
tfoot th {
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  padding: 0 !important;
  height: 3rem;
  text-align: center !important;
  font-size: 1.2rem;
  background-color: transparent !important;
}

tr {
  text-align: center;
  /* width: 100% */
}

.ui.inverted.definition.table tfoot:not(.full-width) th:first-child, .ui.inverted.definition.table thead:not(.full-width) th:first-child {
  background-color: transparent;
  box-shadow: none;
}

.ui.inverted.input>input {
  color: whitesmoke;
}

th input,
.ui[class*="corner labeled"]:not([class*="left corner labeled"]).labeled.input > input {
  text-align: center !important;
  padding: 0 !important;
  height: 3rem;
  font-weight: 800 !important;
  background-color: inherit !important;
  border-radius: none !important;
}

input[type="color"] {
  padding: 0 !important;
}

tr th {
  text-align: left;
  padding: 0 !important
}

tfoot button.ui.fluid.button {
  padding: 0;
  height: 3rem;
}


/* Tool Container */
.toolContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px #ccc;
  padding: 15px;
  border-radius: 6px;
  margin: 2px;
  height: fit-content;
  grid-column-end: span 1;
  width: 100%;
}

.scoreContainer {
  grid-column-end: span 2;
}

/* For Timers on Larger Screens */

.mini {
  font-size: 0.9rem;
  line-height: initial;
}

.ui.buttons {
  width: 100%;
}

.ui.buttons .button {
  flex: 1 1 auto;
  font-size: 0.9rem;
}

.dice {
  font-size: 3rem;
  display: block;
  margin: 0 5px 5px;
}

.diceButtons .button {
  padding: 8px 5px;
}

.diceButtons .dice {
  font-size: 2.5rem;
}

.diceContainer {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 9px;
}

/* Add User Object Button Icon
Add Score Type Button Icon */

/* Delete Butotns */
.delete {
  position: absolute;
  /* color: #011627; */
  background: none;
  border: none;
  top: 8px;
  right: 8px;
  /* z-index: 10; */
  cursor: pointer;
  width: initial;
  padding: 0 5px;
}


.ui.header > .icon {
  font-size: 1.6rem;
}



.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
  font-size: 1.4rem !important;
}

h1 {
  /* font-size: 2.2rem !important; */
  margin: 0 auto !important;
}

.darkToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 5px;
}

.delete:hover {
  color: grey;
}

canvas {
  width: 100%;
  box-shadow: 0 0 2px white;
}

/* Timer/Countdown Tool Timer Display */
.timeDisplay {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto 20px;
  padding: 5px 7px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: inherit;
  background-color: #011627;
  color: #f6f7f8;
}

.timeDisplay.darkMode {
  background-color: #2b2b2b;
  /* color: #f6f7f8; */
}

.darkToggleSwitch {
  margin: 0 4px 0 1px;
}

.ui.toggle.checkbox input:checked ~ .box::before, .ui.toggle.checkbox input:focus:checked ~ label::before,
.ui.toggle.checkbox input:checked ~ .box::before, .ui.toggle.checkbox input:checked ~ label::before {
  background-color: navy !important;
  box-shadow: 0 0 2px white;
}

.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label::before,
.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label:hover::before,
.ui.toggle.checkbox input:focus ~ .box::before, .ui.toggle.checkbox input:focus ~ label::before {
  background-color: lightblue;
  box-shadow: 0 0 2px white;
}

.darkMode,
.ui.inverted.header,
.ui.inverted.button {
  color: rgba(255, 255, 255, 0.8)
}

.ui.inverted.popup {
  box-shadow: 0 0 2px white;
}

.ui.inverted.button {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset !important;
}

.ui.inverted.button:hover {
  background-color: rgba(255, 255, 255, 0.8)
}

.darkMode.app {
  background-color: #1a1b1c;
}

.darkMode.toolContainer {
  background-color: #2b2b2b;
  box-shadow: 0 0 3px #ccc;
}



/* Media Queries */
@media (min-width: 1480px){
  .flex {
    grid-template-columns: repeat(6,1fr);
  }
}

@media (max-width: 1280px) {
  .flex {
    grid-template-columns: repeat(4,1fr);
  }

  .toolContainer {
    padding: 10px;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 1.2rem !important;
    padding: 10px 0 !important;
  }
  
  .flex {
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 30px;
  }

  .componentAppender {
    margin-top: 30px;
    padding-bottom: 0;
  }

  header {
    padding: 0 5px;
    position: fixed;
    width: 100%;
  }

  .pushable:not(body) {
    transform: none;
  }
  
  .pushable:not(body) > .ui.sidebar,
  .pushable:not(body) > .fixed,
  .pushable:not(body) > .pusher:after {
    position: fixed;
    top: 4.5rem;
  }

  .toolContainer, .scoreContainer {
    padding: 1.6rem 1.4rem;
  }

  .buttonContainer {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .timeDisplay {
    width: 100%;
  }

  .flex {
    grid-template-columns: repeat(2,1fr);
  }
}


@media (max-width: 540px) {
  body {
    font-size: 12px;
  }
  
  .darkToggle {
    position: relative;
  }

  .toolContainer {
    grid-column-end: span 2;
  }
}

